* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 0;
    text-align: left;
    background-color: darkslategray;
    color: white;
    font-size: 10px;
    padding: 1.5rem;
}

nav {
    margin: 0 auto 2rem;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;

}

.navigation a {
    font-weight: 700;
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}